@page "/faq"
@inject HttpClient httpClient
@using DevDojo.Shared

<h3 class="text-center">FAQ</h3>

<div class="container" style="height: 75vh; margin-top:5vh;">

    @if (FAQs != null)
    {
    }
    else
    {
        <h3> Loading...</h3>
    }
</div>



@code {


    List<FAQ> FAQs { get; set; } = new List<FAQ>();
    protected override async Task OnInitializedAsync()
    {
        FAQs = await httpClient.GetFromJsonAsync<List<FAQ>>($"api/faq");

    }


}