@page "/apis"
@inject HttpClient http

<style>

    .wrapper {
        height: 100vh;
        width: 100%;
    }
</style>

<h3 class="text-center">APIs</h3>


    <h5 class="text-center"> This page contains a list of (Show  count)API's. Browse to your heart's content</h5>

    <div class="wrapper">

        <div class="row justify-content-center">
        
                <div class="card col-3 mb-5 m-3">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 2em;">name</h5>
                        <hr />
                        <p class="card-text">Desrciption</p>
                        <p>Catergory: Category</p>
                        <NavLink class="nav-link" href="">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> API Documentation
                        </NavLink>
                    </div>
                </div>
            
        </div>
    </div>
}
else
{
    <h3>Loading...</h3>
}


@code {

    protected override async Task OnInitializedAsync()
    {
      
    }

}

