@page "/"

<div class="text-center">
    <h1>Welcome Developers!</h1>
    <br />
    Welcome to your the developer Dojo. A place where you get to show off your skills! Pick your training ground!
</div>
<br />
<br />

<h2>Dojo: Happy March </h2>
<div class="card justify-content-center mr-2">
    <div class="card-body">
        <h5 class="card-title" style="font-size: 2em;">Daniel-san</h5>
        <p class="card-text">Create a frontend component</p>
        <p>Requires: HTML/CSS</p>
        <NavLink class="nav-link" href="bored">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Take me there
        </NavLink>
    </div>
</div>
<div class="card justify-content-center mr-2">
    <div class="card-body">
        <h5 class="card-title" style="font-size: 2em;">Promise-san</h5>
        <p class="card-text">Create a Frontend Component</p>
        <p>Requires: HTML/CSS</p>
        <NavLink class="nav-link" href="promise">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Take me there
        </NavLink>
    </div>
</div>
