@page "/"

<div class="text-center">
    <h1>Welcome Developers!</h1>
    <br />
    Welcome to your the developer Dojo. A place where you get to show off your skills! Pick your training ground!
</div>
<br/>
<br />

<div class="row justify-content-center">
    <div class="card justify-content-center mr-4">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 2em;">Kanban board</h5>
            <p class="card-text">Add some new features to the Kanban board.</p>
            <p>Requires: HTML/CSS and Blazor</p>
            <NavLink class="nav-link" href="kanban">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Take me there
            </NavLink>
        </div>
    </div>
    <div class="card justify-content-center mr-2">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 2em;">API List</h5>
            <p class="card-text">Add some search and filtering capabilities to the list of API's'</p>
            <p>Requires: HTML/CSS and Blazor</p>
            <NavLink class="nav-link" href="apis">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Take me there
            </NavLink>
        </div>
    </div>
    <div class="card justify-content-center mr-2">
        <div class="card-body">
            <h5 class="card-title" style="font-size: 2em;">Profile Account</h5>
            <p class="card-text">Create a profile according to the picture provided'</p>
            <p>Requires: Blazor</p>
            <NavLink class="nav-link" href="profile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Take me there
            </NavLink>
        </div>
    </div>
</div>
