@page "/job"
@inject HttpClient httpClient

<h3>Select a List of Jobs</h3>

<div class="container" style="height:90vh; margin-top:5vh;">

    @if (Jobs != null)
    {

    }
    else
    {
        <h3> Loading...</h3>
    }
</div>



@code {


    List<Job> Jobs { get; set; } = new List<Job>();
    Job displayJobDetail { get; set; } = new Job();

    protected override async Task OnInitializedAsync()
    {
        Jobs = await httpClient.GetFromJsonAsync<List<Job>>($"https://xebecapi.azurewebsites.net/api/job/");

    }


}
