@page "/memes"

<style>

    .wrapper {
        height: 100vh;
        width: 100%;
    }

    .card {
        width: 50%;
    }
</style>

<h3 class="text-center">Memes</h3>

<h5 class="text-center"> This page contains a list of (count) Meme pictures. Browse to your heart's content</h5>

<div class="wrapper">

    <div class="row justify-content-center">

        <div class="card justify-content-center col-6 mr-4 mb-3">
            <div class="card-body">
                <h5 class="card-title justify-content-center" style="font-size: 2em;">Name</h5>
                <hr />
                <div class="card-img justify-content-center">
                    <img width="450" height="450" alt="" class="justify-content-center" />
                </div>

                <p>box count: box count</p>
                <NavLink class="nav-link" href="">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Url
                </NavLink>
            </div>
        </div>
    </div>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        //FullAPI = await http.GetFromJsonAsync<APIFull>("https://api.imgflip.com/get_memes");
    }

}

